body {
    font-family: sans-serif;
}

p {
    font-size: 14px;
}

li{
    font-size: 12px;
}
#firstrow{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 5px; 
}
#maindata{
    display: flex;
    flex-direction: column;
}
#study, #profnav, #others{
    background-color: rgb(226, 225, 225);
    padding: 10px;
    margin-top: 10px;
    margin-left: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

    img{
        width:150px;
        height: 200px;
    }

    #foto {
        height: 200px; /* Высота блока */
        width: 150px;  /* Ширина блока */
        align-content: center;
    }

    #maindata {
        margin-left: 20px;
    }
        .mydata{
            font-size: 14px;   
        }

#workwey-head{
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}
#workwey{
    background-color: rgb(226, 225, 225);
    padding: 10px; 
    margin: 5px;  
}     
#workwey-details{
    display: none;
    flex-direction: column;

}

.jobsrow{
    display: flex;
    flex-direction: column;
    background-color: rgb(202, 199, 199);
    padding: 10px; 
    margin: 5px; 
    animation-name: hide;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-play-state: paused; 
}
.jobsrow-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.whatdo{
    display: none;
    flex-direction: column;
    /*margin-left: 210px;*/
    font-size:12px  
}

.period{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    width: 200px;   /*Ширина блока*/
}

.data1, .data2, .defis{
    margin: 5px;
}
.studyrow{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start; 
    flex-wrap: wrap;   
}

button{
    height: fit-content;
    width: 80px;
    margin-left: 20px;    
}

.company{
    width: 300px;  /* Ширина блока */    
}

.jobname{
    width: 520px;  /* Ширина блока */    
}

@keyframes hide {
    0% {
        opacity: 1;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }
    75% {
        opacity: 0;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }
    100% {
        opacity: 0;
        height: 0px;
        line-height: 0px;
        padding: 0px;
        margin-bottom: 0px;
    }
}
