body {
    font-family: sans-serif;
}
.mydata{
    font-size: 16px;   
}
p {
    font-size: 14px;
}

li{
    font-size: 12px;
}
.firstrow {
    display: inline-block;
    vertical-align: top;
    /*position: fixed;*/
}


#maindata {
    height: 200px; /* Высота блока */
    width: 70%;    /* Ширина блока */
    margin-left: 105px;
}

img{
    width:150px;
    height: 200px;
}

#foto {
    height: 200px; /* Высота блока */
    width: 150px;  /* Ширина блока */
    align-content: center;
}

.whatdo{
    display: none;
    margin-left: 210px;
    font-size:12px  
}

.data1, .data2, .jobname, .defis, .company, button, .studyname {
    display: inline-block;
    /*vertical-align: top; */  
}

.data1 {
    width: 70px;  /* Ширина блока */
   /* align-content: flex-end;*/
}
.data2 {
    width: 120px;  /* Ширина блока */
   /* align-content: flex-end;*/
}

button{
    margin-left: 20px;    
}

.jobname{
    width: 600px;  /* Ширина блока */    
}

